version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydatabase
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    container_name: backend
    environment:
      DB_HOST: db
      DB_USER: myuser
      DB_PASS: mypassword
      DB_NAME: mydatabase
    depends_on:
      - db
    ports:
      - "3001:3001"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      VITE_API_URL: http://backend:3001
    depends_on:
      - backend
    ports:
      - "5173:5173"
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network: